{% extends('@App/Admin/base-admin.html.twig') %}

{% block body %}
    <body class="error">
    <div class="error-box-body">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="callout callout-danger">
                        <h4>Erreur 403 - Accès interdit</h4>

                        <p>Vous n'êtes pas autorisé à accéder à la page demandée.</p>
                    </div>
                    <a href="javascript:history.go(-1)">← Retour à la page précédente</a> | <a href="{{ path('agp_index') }}">Accueil</a>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}