body {
    font-family: "Raleway", 'Helvetica Neue', sans-serif !important;
}

h1, h2, h3, h4, h5 {
    font-family: "Roboto", 'Helvetica Neue', sans-serif !important;
}

.h2 {
    font-size: 2em !important;
}

b, strong, label {
    color: #545454;
}

a:hover, a:focus {
    text-decoration: none !important;
}

.white {
    color: #FFFFFF;
}

.white-bg {
    background: #FFFFFF !important;
}

.grey {
    color: #555555 !important;
}

.space {
    min-width: 10px;
    display: inline-block;
}

.float-right {
    float: right;
}

.pre-block-separator {
    border-top: 1px solid #f4f4f4;
    height: 10px;
    width: 100%;
    vertical-align: bottom;
    display: inline-block;
    margin: 0 0 0 5px;
}

.pre-block-title {
    display: inline-block;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    color: #9a9a9a;
}

#pre-block-infos {
    max-width: 92%;
}

#pre-block-contact {
    max-width: 94%;
}

.box-padding {
    padding: 20px;
}

.cr-boundary {
    width: unset !important;
    background: rgba(0, 0, 0, 0.6);
}

.menu-icon {
    width: 17px;
    display: inline-block;
    margin: 0 7px 0 0;
}

.training-icon {
    width: 17px;
    display: inline-block;
    margin: 0 5px 0 0;
}

img.menu-icon {
    -webkit-filter: grayscale(100%) contrast(50%);
    -moz-filter: grayscale(100%) contrast(50%);
    -o-filter: grayscale(100%) contrast(50%);
    filter: grayscale(100%) contrast(50%);
}

.treeview:hover img.menu-icon, .treeview.menu-open img.menu-icon {
    -webkit-filter: grayscale(100%) contrast(100%);
    -moz-filter: grayscale(100%) contrast(100%);
    -o-filter: grayscale(100%) contrast(100%);
    filter: grayscale(100%) contrast(100%);
}

.profile-name {
    font-size: 30pt;
    color: #565656;
}

.profile-infos-block {
    margin: 0 0 20px 0;
}

.profile-infos {
    padding: 10px 0 0 10px;
}

#profile-infos-label {
    font-weight: 600;
    color: #565656;
}

#dossier-summary-buttons {
    padding-top: 10px;
}

.nav-tabs-custom>.tab-content {
    padding: 20px !important;
}

form label, .show-dossier label {
    padding-top: 15px;
}

form#login-form label, form#register-form label {
    padding-top: 0;
}

form#login-form .fa-lock, form#register-form .fa-lock {
    padding: 0 2.5px;
}

form#login-form .input-group {
    margin: 15px 0;
}

form#register-form .input-group {
    margin: 0 0 15px 0;
}

.plainPassword-second {
    padding-top: 5px;
}

button#fos_user_registration_form_submit {
    margin-top: 20px;
}

.login-logo a:hover, .register-logo a:hover {
    color: #444444;
}

.box-grey {
    background: #fbfbfb !important;
    padding: 10px;
}

.list-dossiers span.btn, .list-users span.btn {
    padding: 3px 12px !important;
}

.list-dossiers span.btn:hover, .list-users span.btn {
    cursor: default;
}

.medium-input {
    max-width: 341px;
}

.medium-input-addon {
    max-width: 303px;
}

.small-input {
    max-width: 150px;
}

.extra-small-input {
    max-width: 80px;
}

.emergencyContactTwo .box {
    background: none;
    border: none;
    box-shadow: none;
    padding: 0 !important;
}

.emergencyContactTwo .box-header {
    padding: 0 !important;
}

.emergencyContactTwo .box-body {
    padding: 0 !important;
}

span.required {
    color: red;
}

form[name="dossier"] .box {
    padding: 10px 30px;
}

form[name="dossier"] h3 {
    color: #4c4c4c;
}

.margin-r-15 {
    margin-right: 15px;
}

.margin-r-10 {
    margin-right: 10px;
}

#profile-infos div, #profile-infos-label div {
    margin: 5px 0;
}

div#dossier-summary-buttons a {
    color: #525252;
}

.btn-primary:hover {
    border-color: #3479a9 !important;
}

.create-dossier, .create-children {
    padding: 10px 0;
    font-size: 12pt;
}

.create-dossier a, .create-children a {
    text-decoration: none !important;
}

.form-control-inline {
    display: inline-block !important;
}

#map {
    height: 250px;
    width: 100%;
}

#map-training {
    height: 200px !important;
}

.no-dossier, .pending-dossier {
    text-align: center;
    padding: 25px 15px 20px 15px;
    font-size: 13pt;
}

.no-dossier-footer {
    border-top: 1px solid #eee;
}

.no-dossier-footer a {
    background: #f9f9f9 !important;
    font-size: 11pt !important;
}

.no-dossier .fa {
    color: #dd4b39;
}

.pending-dossier .fa {
    color: #f39c12;
}

.box-steps {
    margin-top: 20px;
}

.steps-link {
    padding: 5px 0;
    font-size: 11pt;
    font-weight: 600;
}

.steps-link i {
    margin-right: 10px;
}

img.training-icon.training-icon-welcome {
    margin-right: 8px;
}

.steps-link i.fa.fa-file-text-o {
    margin-right: 13px;
}

.box-profil>.col-md-8>div {
    margin-bottom: 10px;
}

.box-profil>.col-md-7>div {
    margin-bottom: 10px;
}

.box-profil img {
    max-height: 185px;
}

.steps-link i.fa.fa-question {
    margin-right: 17px;
}

.box-steps button {
    width: 100%;
    margin-top: 10px;
    max-width: 300px;
}

.box-steps label {
    font-size: 14pt;
    margin: 10px 0 10px 0;
}

.box-welcome {
    padding: 30px 10px 40px 10px !important;
}

ul.sidebar-menu.tree {
    margin-top: 20px;
}

.fa-check.certificate {
    color: green;
}

.fa-times.certificate {
    color: #c50000;
}

i.fa.certificate {
    margin-left: 5px;
}

.box-infos {
    padding: 10px 10px 40px 10px;
}

.small-page-header {
    margin: 5px 0 20px 0;
    font-size: 17px;
    border-bottom: 1px solid #eee;
    padding: 0 0 9px 0;
}

.add-article-image-preview-container {
    padding: 0 0 10px 0;
}

.missing-dossier {
    padding: 10px 10px 0 10px;
}

.box-header>.box-tools {
    top: 15px !important;
}

.list-header {
    padding: 25px 10px 10px 10px !important;
}

.hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eee;
}

form input#training_ref_categoryStart, form input#training_ref_categoryEnd {
    height: 25px;
    width: 65px;
}

.box-show-location {
    padding-bottom: 18px;
}

.bootstrap-timepicker {
    display: inline-block;
    max-width: 180px;
}

span.timepicker-in-between {
    display: inline-block;
    vertical-align: top;
    padding: 10px 10px 0 10px;
}

span.category-in-between {
    display: inline-block;
    vertical-align: top;
    padding: 5px 10px;
}

#place-icon {
    display: none;
}

.modele {
    padding: 5px 0;
    margin: 0 !important;
}

.modele-attestation {
    padding: 11px 0;
}

.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
    height: 34px !important;
    border-radius: 0 !important;
    border: 1px solid #d2d6de !important;
}

.select2 {
    max-width: 100%;
}

select#dossier_emergencyContactTwoRelation + span.select2, select#dossier_emergencyContactRelation + span.select2  {
    width: 100% !important;
}

.custom-file-input {
    max-width: 100%
}

.list-trombinoscope td {
    border: none !important;
}

.list-trombinoscope .box {
    box-shadow: none;
    padding-bottom: 30px;
}

.trombinoscope-name {
    font-size: 16pt;
    padding: 5px 0;
    color: #585858;
}

.trombinoscope-emergency {
    font-size: 11pt;
    color: #585858;
}

.img-trombinoscope {
    width: 140px;
}

div.parentalAuthorization {
    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -ms-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
    opacity: 1;
}

div.parentalAuthorization.no-display {
    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -ms-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
    opacity: 0;
}

.parentalText {
    height: 30px;
    max-width: 340px;
    text-align: justify;
}

.align-medical {
    padding: 0 0 114px 0;
}

.btn-disabled {
    background-color: #b3b4b5;
    border-color: #b3b4b5 !important;
    color: #FFFFFF;
}

.btn-disabled:hover {
    color: #FFFFFF !important;
}

.forgotten-password {
    font-size: 10pt;
    float: right;
    padding: 5px 0 0 0;
}

.remember-me {
    padding: 5px 0 20px 0;
    color: dimgrey;
    display: inline-block;
}

.btn-login-submit, .btn-register-submit {
    width: 100%;
}

.not-registered {
    text-align: center;
    padding: 20px 0 0 0;
    font-size: 9pt;
    color: dimgrey;
}

.bold {
    font-weight: 700 !important;
}

.login-page, .register-page {
    background: #ececec !important;
}

.login-box-body, .register-box-body {
    border: 1px solid #dedddd;
    padding: 40px 20px !important;
}

span.arkour {
    font-size: 22pt;
}

span.beta {
    font-size: 13pt;
}

/** Index Header **/

.index.header {
    background-size: cover !important;
    background-attachment: fixed, fixed, fixed !important;
    min-height: 100vh;
    padding: 30em 0 0 0;
    position: relative;
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    z-index: 2;
}

section.index .header-title {
    font-size: 3.5em;
    color: #FFFFFF;
    font-weight: 500;
}

section.index .header-subtitle {
    font-size: 1.5em;
    color: #e4e4e4;
    padding: 10px 0;
}

section.index .header-title, section.index .header-subtitle, section.index .container-header-action {
    text-align: center;
    position: relative;
    z-index: 3;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

section.index ul.header-action {
    list-style-type: none;
}

section.index ul.header-action:after {
    background: #ffffff;
    content: '';
    height: 500px;
    position: absolute;
    top: 100%;
    width: 2px;
    z-index: 1;
}

section.index .header-action li {
    max-width: 210px;
    margin: 0 auto;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    padding: 10px 50px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14.5pt;
    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -ms-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
}

section.index .header-action li:hover {
    background: rgba(255, 255, 255, 0.17);
}

section.index .container-header-action {
    margin: 80px 0 0 0;
}

/**/

/** Page Header **/

.page.header {
    background-size: cover !important;
    background-attachment: fixed, fixed, fixed !important;
    min-height: 20vh;
    position: relative;
    padding: 8em;
    z-index: 1;
}

section.page .header-title {
    font-size: 3.5em;
    color: #FFFFFF;
    font-weight: 500;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

section.page .header-subtitle {
    font-size: 1.5em;
    color: #e4e4e4;
    padding: 10px 0;
}

section.page .header-title, section.page .header-subtitle {
    text-align: center;
    position: relative;
    z-index: 3;
}

/**/

.page, .article {
    padding: 40px 100px 20px 100px;
}

.page-end, .article-end {
    height: 1px;
    background: #eee;
    margin: 20px 0 0 0;
}

.article-start {
    height: 1px;
    background: #eee;
    margin: 10px 0;
}

.article-meta {
    padding-top: 15px;
    color: #616161;
}

.article-meta .fa-calendar {
    padding: 0 5px;
}

.article-meta .fa-user {
    padding: 0 5px 0 0;
}

span.vertical-sep {
    padding: 0 3px;
}

.single-training-image {
    height: 250px !important;
    width: 100%;
}

.single-article, .article-row, .page-row, .single-training {
    padding: 20px;
    border: 1px solid #eee;
    margin: 15px 0;
    background: #ffffff;
    border-radius: 3px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 5px 0px rgba(243, 243, 243, 0.5);
}

.single-initiation {
    border: 1px solid #eee;
    margin: 15px 0;
    background: #ffffff;
    border-radius: 3px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 5px 0px rgba(243, 243, 243, 0.5);
}

.single-initiation-content, .single-initiation-meta {
    padding: 20px;
}

.single-initiation-meta a, .single-initiation-meta a:hover {
    color: inherit;
}

.single-initiation-sep {
    height: 5px;
    background: #eeeeee;
}

.single-initiation-date {
    font-weight: bold;
    text-transform: uppercase;
}

.single-initiation-date-day {
    font-size: 25pt;
}

.single-initiation-date-month {
    font-size: 12pt;
}

.single-initiation-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14pt;
    padding-top: 10px;
    line-height: 33px;
}

.single-initiation-content {
    font-size: 11pt;
    color: #868383;
}

.single-article-title {
    font-weight: 500;
    font-size: 15pt;
}

.single-article-title a, .single-article-title a:hover {
    color: inherit;
}

.single-article img {
    max-width: 150px;
    height: 150px;
    border-radius: 3px;
}

.single-article-meta {
    text-transform: uppercase;
    color: #868383;
    padding: 5px 0;
}

.single-article-content {
    color: #868383;
    padding: 5px 0;
}

.article-page {
    background: #fbfbfb;
}

.most-viewed-body {
    border: 1px solid #eee;
    background: #ffffff;
    border-radius: 3px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 5px 0px rgba(243, 243, 243, 0.5);
}

.most-viewed-body>.nav-tabs>li.active>a, .most-viewed-body>.nav-tabs>li.active>a:hover {
    border: none;
    color: #545454;
    text-transform: uppercase;
    font-weight: bold;
}

.most-viewed-body>.nav-tabs>li.active>a:active, .most-viewed-body>.nav-tabs>li.active>a:focus, .most-viewed-body>.nav-tabs>li.active>a:visited {
    border: none;
}

.most-viewed-body>.nav-tabs>li>a {
    background: #f3f3f3;
    border-radius: 0;
    border: none;
    color: #545454;
    text-transform: uppercase;
    font-weight: bold;
}

.most-viewed-body>.nav-tabs {
    border-bottom: none;
}

.most-viewed-article-single {
    margin: 20px 0;
}

.most-viewed-article-single img {
    max-width: 70px;
    height: 70px;
}

.most-viewed-date i {
    padding-right: 3px;
}

.most-viewed-date {
    font-size: 9pt;
    color: #868383;
}

.most-viewed-title {
    font-weight: 500;
}

.sidebar-search {
    margin: 15px 0;
}

.sidebar-search-input {
    width: 100%;
    padding: 3px;
}

.fb {
    margin: 30px 0;
}

.news {
    background: #fbfbfb;
    padding: 0 0 80px 0;
}

.news-sidebar {
    margin: 30px 0;
}

section.index-one {
    padding: 120px 0;
    line-height: 2.5em;
    z-index: 2;
    position: relative;
}

section.index-two {
    padding: 120px 0;
}

section.index-one h2, section.index-two h2 {
    margin-top: 0;
}

section.index-two p {
    font-size: 14.55pt;
    line-height: 1.8em;
    color: #dadada;
    text-align: justify;
}

.video-container {
    position: relative;
    padding-bottom: 79%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.initiations-infos label {
    margin-top: 10px;
}

section.index-three {
    padding: 120px 0;
}

section.index-three img {
    max-height: 230px;
    width: 100%;
}

section.index-three h3 {
    min-height: 52.8px;
}

section.index-four {
    padding: 80px 0;
}

section.index-four p {
    font-size: 14pt;
    color: #dadada;
}

section.index-one h2 {
    line-height: 1.5em;
}

section.index-one p {
    font-size: 14pt;
    padding: 0 50px 0 0;
    line-height: 2.1em;
}

section.index-one img {
    border-radius: 3px;
}

section.index-two, section.index-four {
    background-attachment: fixed, fixed;
    background-image: url(/img/overlay1.png), url(/img/bg2.jpeg);
    background-size: auto, cover;
    background-position: right;
}

section.index-two .pre-container {
    background: rgba(0, 0, 0, 0.2);
    padding: 20px 0 10px 0;
}

section.index-two {
    min-height: 600px;
}

section.index-four {
    min-height: 300px;
}

section.index-three p {
    text-align: justify;
}

.actu-more {
    border: 1px solid rgba(144, 144, 144, 0.5);
    max-width: 150px;
    margin: 30px auto;
    color: #555555;
    border-radius: 3px;
    padding: 10px 40px;
    font-weight: 500;
    font-size: 12pt;
    text-align: center;
}

.inscription-more {
    border: 1px solid rgba(144, 144, 144, 0.5);
    max-width: 250px;
    margin: 25px auto;
    color: #555555;
    border-radius: 3px;
    padding: 10px 40px;
    font-weight: 600;
    font-size: 12pt;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    -o-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

.inscription-more:hover {
    background: #f7f7f7;
}

.inscription-more-four, .four-more {
    border: 1px solid rgba(144, 144, 144, 0.5);
    max-width: 350px;
    margin: 50px 10px 30px 10px;
    color: #555555;
    border-radius: 3px;
    padding: 15px 40px;
    font-weight: 600;
    font-size: 12pt;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    min-height: 50px;
}

.inscription-more-four {
    background: #FFFFFF;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    -o-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

.inscription-more-four:hover {
    background: rgba(255, 255, 255, 0.17);
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.four-more:hover {
    background: rgba(255, 255, 255, 0.17);
}

.four-more {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    -o-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

.four-actions {
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
}

.sep {
    max-width: 150px;
    margin: 25px 0;
    height: 1px;
    background: rgba(144, 144, 144, 0.5);
}

.sep-register {
    margin: 20px 0 0 0;
    height: 1px;
    background: rgba(144, 144, 144, 0.5);
}

.sep-actu {
    margin: 20px auto 50px auto;
}

.sep-contact {
    margin: 30px auto;
}

.main-navbar-container {
    max-width: 1250px;
    margin: 0 auto;
}

.main-navbar .dropdown-menu .divider {
    background-color: #454545 !important;
}

.main-navbar {
    background: #222a34ff;
    cursor: default;
    height: 3.25rem;
    border-radius: 0 !important;
    margin-bottom: 0 !important;
    font-weight: 600;
}

.main-navbar .icon-bar {
    background: #FFFFFF;
}

div#agp-collapse {
    background: #222a34;
    overflow-y: hidden;
}

.main-navbar a {
    color: #d4d4d4;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    -o-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

.navbar-nav .open .dropdown-menu>li>a {
    color: #dadada;
}

.main-navbar-container ul.dropdown-menu {
    background: #222a34;
}

.dropdown-menu>li>a {
    font-weight: 500 !important;
}

.navbar-nav .open .dropdown-menu>li>a:hover {
    color: #FFFFFF;
}

.main-navbar a:hover {
    color: #FFFFFF;
}

.main-navbar a:hover, .main-navbar a:focus, .main-navbar a:active {
    background: none !important;
}

.main-navbar .open>a, .main-navbar .open>a:focus, .main-navbar .open>a:hover {
    background: none !important;
}

.main-navbar a:focus {
    color: #FFFFFF;
}

.navbar-brand {
    color: #FFFFFF !important;
}

.container-fluid.main-content {
    padding-top: 50px;
}

.h-no-mr {
    margin-top: 0;
}

.p-pk-no-mr {
    margin-bottom: 5px;
}

footer.footer {
    padding: 30px 0;
}

.copyright {
    color: #555;
    font-weight: 500;
}

.footer-links {
    padding: 20px;
    text-align: center;
    font-weight: 500;
}

.footer-links a {
    color: #555;
}

.footer-links a:hover {
    color: #555;
}

.training-location-submit {
    padding-top: 15px;
}

.single-training-line {
    margin: 0 0 9px 0;
}

.no-mar-top {
    margin-top: 0 !important;
}

.pad-t-20 {
    padding-top: 20px;
}

.pad-t-5 {
    padding-top: 5px;
}

.pad-l-35 {
    padding-left: 35px;
}

.mar-t-20 {
    margin-top: 20px;
}

.mar-l-5 {
    margin-left: 5px;
}

.mar-t-10 {
    margin-top: 10px;
}

.conditions-text {
    max-width: 750px;
}

section.custom-settings span.select2-selection {
    min-width: 150px;
}

.inline-block {
    display: inline-block;
}

.pk-input {
    height: 25px !important;
    margin-bottom: 5px !important;
}

.article-content p, .page-content p {
    font-size: 13pt;
    text-align: justify;
}

.mce-notification-warning {
    display: none;
}

.img-mar-right {
    margin: 5px 0 5px 20px;
}

.img-mar-left {
    margin: 5px 20px 5px 0;
}

.article-header-img, .page-header-img {
    width: 100%;
    max-height: 300px;
}

.main-navbar-container .dropdown .dropdown-menu {
    -webkit-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
    -moz-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
    -ms-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
    -o-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
    transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
}

.main-navbar-container .dropdown.open .dropdown-menu {
    -webkit-transition: max-height 0.7s, opacity 0.1s, visibility 0s;
    -moz-transition: max-height 0.7s, opacity 0.1s, visibility 0s;
    -ms-transition: max-height 0.7s, opacity 0.1s, visibility 0s;
    -o-transition: max-height 0.7s, opacity 0.1s, visibility 0s;
    transition: max-height 0.7s, opacity 0.1s, visibility 0s;
    max-height: 250px;
    opacity: 1;
    visibility: visible;
}

.mar-auto {
    margin: 0 auto;
}

/** FIREFOX **/
@-moz-document url-prefix() {
    .box-location {
        padding: 10px 30px 26px 30px !important;
    }

    .box-cotisation {
        padding: 10px 30px 20px 30px !important;
    }

    section.index-two p {
        font-size: 14pt;
    }

    .box-apercu {
        padding-bottom: 30px !important;
    }

    input#remember_me {
        vertical-align: text-bottom;
    }

    .remember-me {
        font-size: 12px;
    }

    .forgotten-password {
        padding: 7px 0 0 0;
    }
}

/** Scrollbar **/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background: rgba(66, 66, 66, 0.8);
}

.navbar-custom-menu:hover {
    cursor: pointer;
}

.roles span.select2-selection.select2-selection--multiple {
    min-width: 150px;
}

.groupes span.select2.select2-container.select2-container--default {
    min-width: 150px;
}

.initiation-location span.select2.select2-container.select2-container--default.select2-container--below {
    width: 100%;
}

.initiation-location span.select2.select2-container.select2-container--default {
    width: 100%;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: none !important;
}

/** MEDIA QUERIES **/

@media (min-width: 768px) {
    .modal-article .modal-dialog {
        width: 1200px !important;
    }

    .collapse-quick-menu {
        display: none;
    }
}

@media (max-width: 1400px) {
    .parentalText {
        height: 100%;
    }
}

@media (max-width: 991px) {
    .video-container {
        margin-bottom: 30px;
    }
}

@media (min-width: 1170px) {
    .container {
        width: 90em !important;
    }

    .most-viewed-col {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}