{% extends "@App/App/views/layout.html.twig" %}

{% block content %}
    <p>
        Charte FPK
        Cette charte est le texte fondateur de la fédération de parkour, mais c’est aussi un guide moral des valeurs du parkour. L’AGP croit à ce message et tâche de le transmettre lors des entraînements  réguliers et des initiations ponctuelles
        ________________________________


        Introduction : rôle de ce document.

        Les associations signataires, intéressées par le développement de la pratique, ne voient guère d’intérêt à prendre position dans les débats concernant Parkour, freerun et art du déplacement. Nous partageons les mêmes lieux et une même passion pour le mouvement. Nous estimons qu’il y a plus à gagner à travailler ensemble dans le respect de nos différences pour faire reconnaître nos pratiques sans les dénaturer. En conséquence, nous souhaitons créer un cadre pour le Parkour associatif, autour d’une définition et de valeurs partagées. Nous souhaitons réunir les connaissances de chacune des associations signataires pour mettre en place les outils utiles à leur développement : guide d’entraînement, conseils juridiques, administratifs, pédagogiques…

        Première partie : présentation du Parkour.

        Article I. Définition(s)

        Le Parkour est une activité physique consistant à se déplacer efficacement grâce à ses seules capacités motrices, dans différents types d’environnements. Le traceur – pratiquant du Parkour- développe son corps et son contrôle par le biais d’une méthode d’entrainement alliant course, passement d’obstacle, sauts, escalade… Le “Freerunning/Art du déplacement” est issu du Parkour mais se focalise d’avantage sur l’esthétique des mouvements.

        Article II. Valeurs développées

        Le Parkour est une pratique personnelle, qui favorise l’épanouissement par une meilleure connaissance de soi, de ses limites physiques et de ses peurs. Un entraînement patient et persévérant permet de les dépasser et de gagner en confiance : la liberté de mouvement amène créativité et liberté. L’entraînement en groupe, ainsi que les rencontres dans d’autres villes sont des facteurs d’ouverture à l’autre et de tolérance par une volonté d’échange et d’entraide. La pratique, bien que sérieuse sur le plan de l’entraînement physique se veut ludique et sans compétition. L’un des objectifs du Parkour reste de protéger son corps (“Être et durer”) et de s’entraîner tout en gardant à l’esprit l’aspect utilitaire de la pratique.

        Article III. Ethique du traceur.
        “La liberté de chacun s’arrête où commence celle de l’autre”

        Bien que cela soit sans doute évident pour la plupart d’entre nous, il est bon de rappeler qu’il est nécessaire de respecter certaines règles de bon sens lors de l’entrainement. Elles concernent aussi bien notre sécurité que celle de l’autre :
        – Respect des gens avec lesquels nous partageons l’espace : laisser la priorité aux autres utilisateurs de la voie publique, savoir dialoguer et répondre courtoisement aux remarques des autorités, passants et riverains.
        – Respect de l’environnement et des lieux : les laisser dans leur état d’origine en évitant les dégradations et, dans la mesure du possible, réparer ou sécuriser les endroits dégradés.
        – S’entraîner pour soi et non pour impressionner les autres : la présence d’un public ne doit pas influer sur l’entrainement.
        – Aider les autres à évoluer et progresser : d’autres vous ont aidés, à votre tour de partager votre expérience.
        – S’entraîner avec sérieux et régularité : ainsi les progrès seront durables tout en évitant les blessures.

        Deuxième partie : communication

        Article IV. Combattre les idées reçues

        L’utilisation grandissante du Parkour dans des films et des publicités a ancré certaines croyances dans l’esprit du grand public. Ainsi le cliché des “jeunes inconscients sautant de toits en toits” demeure et démontre une méconnaissance totale de la réalité de l’entraînement. Il n’y a aucune prise en compte de la philosophie et des valeurs (cf Définition et Valeurs) transmises par la pratique. Les médias diffusent, consciemment ou non, ces clichés. Par conséquent, il convient de communiquer avec discernement et de s’interroger sur les messages véhiculés par les reportages écrits ou vidéos. Il nous faut avant tout montrer la réalité d’un entraînement progressif et régulier.

        Article V. Sponsoring et mécénat.

        Il est parfois nécessaire de faire appel à des sponsors afin de financer certains projets. Un mécène cherche à se construire une image qui ne correspond pas forcément à celle de notre pratique (cf Définition et valeurs). Accepter une aide financière ou matérielle doit donc être un choix suffisamment réfléchi pour ne pas renvoyer au public une image caricaturale du Parkour. Nous refuserons tout partenariat qui associerait nos performances à l’utilisation d’un produit, occultant ainsi l’entraînement nécessaire à une pratique sérieuse.

        Article VI. Les initiations et la promotion.

        Les associations sont régulièrement sollicités pour des démonstrations. Nous estimons que la participation à des shows sans aucun support pédagogique et/ou en dehors d’un concept artistique (travail scénaristique poussé) n’apporte rien de positif à la discipline. Au contraire, ce type de pratique met en avant le coté spectaculaire et occulte la philosophie ainsi que le travail nécessaire pour arriver à cette maitrise. En revanche, les initiations constituent un moyen efficace de promouvoir le Parkour et de faire passer ses valeurs. Elles doivent être réalisées dans un cadre adapté avec des intervenants expérimentés : en aucun cas dans des conditions mettant en danger l’intégrité physique des participants ou des encadrants.

        Article VII. La compétition.

        Le Parkour permet de prendre conscience de ses limites et de les dépasser grâce à un travail progressif et régulier. Selon nous, l’idée de compétition s’oppose aux valeurs du Parkour que sont le partage et l’entraide. Les associations signant la charte s’engagent donc à ne pas organiser de compétitions de Parkour. Bien que l’émulation au sein d’un groupe permette aux traceurs de se motiver et de progresser ensemble, la pression exercée par le public et les médias lors d’une compétition est telle qu’elle conduit les traceurs à dépasser leurs limites au delà du raisonnable, au risque de se blesser gravement.

        Conclusion

        Les associations signataires s’engagent à respecter le texte ci-dessus et à participer activement au développement du Parkour et des liens associatifs en privilégiant l’utilisation du forum PKIA.
        Dans la version signée, suivra la liste des associations, classées par département, avec mention de la ville, de la date de création et de la publication au JO.
    </p>
{% endblock %}