<section class="page header" style="background: url('{{ asset('uploads/global/header-' ~ global.id ~ '.png') }}') center">
    <div class="overlay"></div>
    <div class="header-title">Association Grenobloise de Parkour</div>
    <div class="header-subtitle">
        Accumsan feugiat mi commodo erat lorem ipsum, sed magna<br>
        lobortis feugiat sapien sed etiam volutpat accumsan.
    </div>
</section>