{% extends "@App/Admin/views/layout.html.twig" %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Initiation
            <small>Modifier une initiation</small>
        </h1>
    </section>

    {{ include('@App/Admin/views/template_initiation.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}
