{% extends "@App/Admin/views/layout.html.twig" %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Paramètres
            <small>Modifier les paramètres de l'application</small>
        </h1>
    </section>

    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock %}
