{% extends "@App/Admin/views/layout.html.twig" %}

{% block title %}{{ parent() }} - Tableau de bord{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Tableau de bord
            <small>Optional description</small>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

        Hey !

    </section>
    <!-- /.content -->
{% endblock %}
