{% extends "@App/Admin/views/layout.html.twig" %}

{% block title %}{{ parent() }} - Nouvelle initiation{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Initiation
            <small>Ajouter une initiation</small>
        </h1>
    </section>

    {{ include('@App/Admin/views/template_initiation.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <!-- Datepicker -->
    <script>
        $('.datepicker').datepicker({
            format: "dd/mm/yyyy",
            language: "fr",
            changeMonth: true,
            changeYear: true
        })
    </script>

    <!-- TimePicker -->
    <script>
        $(function () {
            $('.timepicker').timepicker({
                showInputs: false,
                showMeridian: false
            })
        })
    </script>
{% endblock %}
