{% extends "@App/Admin/views/layout.html.twig" %}

{% block title %}{{ parent() }} - Nouvel enfant{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Enfant
            <small>Ajouter un enfant</small>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="box box-primary box-padding">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <h2 class="page-header"><i class="fa fa-file-o margin-r-5" aria-hidden="true"></i>Dossier d'inscription à l'Association Grenobloise de Parkour</h2>
                    </div>
                </div>
                <div class="col-md-12">
                    {{ form_start(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}
