{% extends "@App/Admin/views/layout.html.twig" %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Groupe
            <small>Ajouter un groupe</small>
        </h1>
    </section>

    {% include('@App/Admin/views/template_group.html.twig') %}
{% endblock %}