{% extends "@App/Admin/views/layout.html.twig" %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Entraînement
            <small>Ajouter un entraînement</small>
        </h1>
    </section>

    {{ include('@App/Admin/views/template_training.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <!-- Datepicker -->
    <script>
        $('.datepicker').datepicker({
            format: "dd/mm/yyyy",
            language: "fr",
            changeMonth: true,
            changeYear: true
        })
    </script>
{% endblock %}
