{% extends "@App/Admin/views/layout.html.twig" %}

{% block title %}{{ parent() }} - Nouveau lieu d'entraînement{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Lieu d'entraînement
            <small>Ajouter un lieu d'entraînement</small>
        </h1>
    </section>

    {{ include('@App/Admin/views/template_training_location.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <!-- Google Maps -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBK84QHE-QGhrHs6dWDyf6Ip4K-Q3D0ij0&callback=initMap&libraries=places"></script>
    <script type="text/javascript" src="{{ asset('js/dist/training-map.js') }}"></script>
{% endblock %}