{% extends "@App/Admin/views/layout.html.twig" %}

{% block title %}{{ parent() }} - Nouveau créneau d'entraînement{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Type d'entraînement
            <small>Ajouter un créneau d'entraînement</small>
        </h1>
    </section>

    {{ include('@App/Admin/views/template_training_ref.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <!-- TimePicker -->
    <script>
        $(function () {
            $('.timepicker').timepicker({
                showInputs: false,
                showMeridian: false
            })
        })
    </script>
{% endblock %}
